@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --primary: #1e40af;
  --danger: #dc2626;
  --warning: #f59e0b;
  --success: #16a34a;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
